
h1 {
  font-style: italic; 
}

#pageTitle {
  background-color: red; 
  color: white; 
}

.button-rounded {
  border-radius: 22%; 
}

.button-rounded:hover {
  background-color: green;
}

.buttons-row {
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 35%; 
  background-color: #2AB6D5; 
  border-radius: 10%;
}

[data-test="searchButton"] {
  font-size: 50px;
}